nav.navbar.navbar-default
  span.navbar-brand Neurotoxic
  ul.nav.navbar-nav
    li: a(ui-sref="about") About
    li: a(ng-hide="minecraftName",href="http://{{host}}:3000/auth/reddit") Log In
    li: a(ng-show="minecraftName",ui-sref="details(playerUsername: minecraftName)") Signed in as {{minecraftName}}
    li: a(ng-show="minecraftName",href="http://{{host}}:3000/logout?token={{token}}&redirect=http://{{host}}:3000/neurotoxic") Logout
.row
  .col-md-2
    form
      .input-group
        input(ng-model="query",placeholder="Search players").form-control
        a.input-group-btn(ui-sref="details({playerUsername: query})"): button(type="submit").btn.btn-primary: span.glyphicon.glyphicon-search
    ul.list-group
      li.list-group-item(ng-repeat="player in allPlayers | filter: query",ng-show="query"): .media
        a.pull-left: img.media-object(ng-src="http://minotar.net/helm/{{player}}/24")
        a.media-body(ui-sref="details({playerUsername: player})") {{player}}
        
    ul.list-group
      li.list-group-item Online Players
      li.list-group-item(ng-repeat="player in players | filter: query | orderBy: 'username'"): .media
        a.pull-left: img.media-object(ng-src="http://minotar.net/helm/{{player.username}}/24")
        a.media-body(ui-sref="details({playerUsername: player.username})") {{player.username}}
    li.list-group-item(ng-show="query"): div.alert.alert-info There aren't any more players who match "{{query}}".
  .col-md-10
    div(ui-view="")
